.container{
    background-color: red;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{
    margin:20px;
    display: flex;
    justify-content: center;
}
/* aca definimos las medidas del dispositivo */
@media screen and (min-width: 1080px) {
    .container{
        background-color: aqua ;
        color:#FFF;
    }
    .letras{
        color:#FFF;
        font-size: 60px;
    }
}

